{% extends "base.html" %}

{% block title %}Thermos - Welcome{% endblock %}

{% block content %}
 <article>
    <header>
        <h1>Welcome</h1>
        <p>Thermos is a simple social bookmarking site. Or actually, it is a demo for the <a href="#">Pluralsight</a> course titled <i>Flask Fundamentals.</i></p>
    </header>
    <section>
        <h2>Recently Added</h2>
        {% if new_bookmarks %}
            <ul>
                {% for bm in new_bookmarks %}
                    <li><a href="{{ url_for('user', username=bm.user.username) }}">{{ bm.user.username }}</a> added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No bookmarks yet.
        {% endif %}
    </section>
</article>
{% endblock %}